/* MAIN STYLES */

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}


/*  */

body#home .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height: 30px;
}

body#home .flex-container .flex-item {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

body#home .flex-container .flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}

body#home .flex-container .flex-item a {
    text-align: center;
    flex-grow: 1;
    color: white;
}


/*  */

.container>header h2 {
    color: #f90
}

.products_list td {
    vertical-align: middle;
    white-space: nowrap;
}

td.product_name {
    font-size: 1.4em;
}

td.product_desc {
    white-space: normal;
}

body#login .navbar .home,
body#products_index .navbar .product-list,
body#product_edit .navbar .product-list,
body#orders_index .navbar .orders,
body#order .navbar .orders {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
}


/* pagina ordine singolo */

.order-single header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #d2d2d2;
}

.order-single dl dd {
    text-indent: 2em;
    margin-bottom: 1em;
}

.order-single-table thead {
    background-color: #333;
    color: white;
}

.order-single-table .spese {
    font-style: italic;
    background-color: #fafafa;
    border-bottom: 2px solid #000;
}

.order-single-table .totale {
    font-weight: bold;
    font-size: 1.4em;
}